block content
  div(class='container')
    if (action == 'add')
      h1 New contact
    else
      h1 Update contact
    form(data-ajax='false')
      if (msg)
        div(class='msgbox')
          div(class='highlight') #{msg}
          div(class='back')
            a(id='button-contact-back') Back
      input(id='id' type='hidden' name='id' value='#{id}')
      label Name *
      input(id='name' type='text' name='name' value='#{name}')
      br
      label Address
      input(id='address' type='text' name='address' value='#{address}')
      br
      label E-mail
      input(id='email' type='text' name='email' value='#{email}')
      br
      label Phone
      input(id='phone' type='text' name='phone' value='#{phone}')
      br
      label Birthday
      input(id='birthday' type='date' name='birthday' value='#{birthday}')
      br
      label Other information
      br
      textarea(id='otherInfo' name='otherInfo' value='#{otherInfo}')
      br
      p * = Mandatory
      if (error)
        p(class="alert") #{error)
    if (action == 'add')
      button(id='button-contact-add') Add Contact
    else
      button(id='button-contact-update') Update Contact
      button(id='button-contact-delete') Delete Contact
    button(id='button-contact-cancel') Cancel