block content
  div(class='container')
    if (action == 'add')
      h1 New contact
    else
      h1 Update contact
    form(data-ajax='false')
      input(type='hidden', name='id', value='#{id}')
      label Name *
      input(type='text', name='name', value='#{name}')
      br
      label Address
      input(type='text', name='address', value='#{address}')
      br
      label E-mail
      input(type='text', name='email', value='#{email}')
      br
      label Phone
      input(type='text', name='phone', value='#{phone}')
      br
      label Birthday
      input(type='date', name='birthday', value='#{birthday}')
      br
      label Other information
      br
      textarea(name='otherInfo', , value='#{otherInfo}')
      br
      p * = Mandatory
      if (error)
        p(class="alert") #{error)
    if (action == 'add')
      button(onclick='abook.clickContactAdd()') Add Contact
    else
      button(onclick='abook.clickContactUpdate()') Update Contact
      button(onclick='abook.clickContactDelete()') Delete Contact
    button(onclick='abook.clickContactCancel()') Cancel